{% include 'buttons/go_back_logout_buttons.html.twig' %}
{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

    <a href="{{ path('app_register') }}"><button type="submit" class="button info_btn">Register</button></a>
    <a href="{{ path('app_login') }}"><button type="button" class="button info_btn">Go To Login</button></a>
    {{ form_end(registrationForm) }}
{% endblock %}
