{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{ 'procedures.title' | trans }}</h3>

    {% block procedures %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/custom_styles.css') }}">
        {% endblock %}
        <table class="styled-table">
            <thead>
            <tr>
                {% for field in fields %}
                    <th>{{ field|trans }}</th>
                {% endfor %}
            </tr>
            </thead>

            <tbody>
            {% for procedure in procedures %}
            <tr>
                <td>{{ procedure.type }}</td>
                <td>{{ procedure.available ? ('procedures.yes'|trans) : ('procedures.no'|trans) }}</td>
                <td>{{ procedure.price_master }}</td>
                <td>{{ procedure.price_junior }}</td>
                <td>{{ procedure.duration_master }}</td>
                <td>{{ procedure.duration_junior }}</td>
                <td>{{ procedure.date_added ? procedure.date_added|date('d-m-Y') : ('procedures.not_available' | trans) }}</td>
                <td>{{ procedure.date_stopped ? procedure.date_stopped|date('d-m-Y') : ('procedures.not_available' | trans) }}</td>
                <td>{{ procedure.date_last_update ? procedure.date_last_update|date('d-m-Y') : ('procedures.not_available' | trans) }}</td>
                <td><a href={{ path('admin_procedure_edit', {id: procedure.id} ) }}><button type="button" class="button success_btn">{{ 'procedures.actions.edit' | trans }}</button></a></td>
                <td><a href={{ path('admin_procedure_delete', {id: procedure.id} ) }}><button type="button" class="button danger_btn"
                                                            onclick="return confirm('{{ 'procedures.confirm_delete' | trans }}')">{{ 'procedures.actions.delete' | trans }}</button></a></td>
            <tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
{% endblock %}