{% block body %}
    <div>
            <h1>ONLY FOR ADMINS</h1>
        <h2>EDIT USER {{ user.nickName }}</h2>
            {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.first_name) }}
            {{ form_row(form.last_name) }}
            {{ form_row(form.nick_name) }}
            {{ form_row(form.phone) }}
            {{ form_row(form.date_added) }}
            {{ form_row(form.date_banned) }}
            {{ form_row(form.date_last_update) }}
            {{ form_row(form.roles) }}
            {{ form_row(form.save) }}
            {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}