{#{% block back_button %}#}
{#<button onClick="window.history.back();" type="button">Go back</button>#}
{#{% endblock %}#}


{% block back_button %}
    <div>
        {% if user is defined %}
            <button onClick="window.history.back();" type="button" class="button warning_btn">Go back</button>
{#            <button onClick="{{ path('app_logout') }}" type="button">Logout</button>#}
            <a href="{{ path('app_logout') }}"><button type="button" class="button warning_btn">Logout</button></a>
            {#            <a href="{{ path('app_logout') }}">Logout</a>#}
        {% else %}
            {#            <button onClick="{{ path('app_login') }}" type="button">Login</button>#}
            {#            <button onClick="{{ path('app_register') }}" type="button">Register</button>#}
            <a href="{{ path('app_login') }}"><button type="button" class="button info_btn">Login</button></a>
            <a href="{{ path('app_register') }}"><button type="button" class="button info_btn>Register</button></a>
        {% endif %}
    </div>
{% endblock %}