{% include '/admin/admin_menu.html.twig' %}
{% include '/buttons/go_back_logout_buttons.html.twig' %}

{% block body %}
<div>
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.nick_name) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.date_added) }}
        {{ form_row(form.save) }}
        {{ form_end(form, {'render_rest': false}) }}
</div>
{% endblock %}