{% extends 'email/base.html.twig' %}

{% block title %}{{ 'password_reset.title' | trans }}{% endblock %}

{% block header %}{{ 'password_reset.header' | trans }}{% endblock %}

{% block body %}
    <h2>{{ 'password_reset.hello' | trans }}{% if user.firstName %}, {{ user.firstName }}{% endif %}!</h2>

    <p>{{ 'password_reset.request_received' | trans }}</p>

    <p>{{ 'password_reset.instructions' | trans }}</p>

    <div style="text-align: center;">
        <a href="{{ url('app_reset_password', {token: resetToken}) }}" class="button">
            {{ 'password_reset.button' | trans }}
        </a>
    </div>

    <p>{{ 'password_reset.link_help' | trans }}</p>
    <p style="word-break: break-all; color: #7f8c8d; font-size: 14px;">
        {{ url('app_reset_password', {token: resetToken}) }}
    </p>

    <p><strong>{{ 'password_reset.important' | trans }}:</strong> {{ 'password_reset.link_expiry' | trans }}</p>

    <hr style="border: none; border-top: 1px solid #e0e0e0; margin: 30px 0;">

    <p>{{ 'password_reset.ignore' | trans }}</p>
{% endblock %}
